</div>
<div class="navbar-fixed-bottom text-center" style="padding: 12px;background-color: #e0e0e0;color: #2aabd2;">
    Copyright©2014 All Rights Reserved
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html> 