<div class="navbar-fixed-bottom text-center" style="padding: 12px;background-color: #e0e0e0;color: #2aabd2;">
    Copyright©2016 All Rights Reserved
</div>
</body>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table-zh-CN.min.js"></script>
</html>