<% include header.ejs %>

<script type="text/javascript">
    $(function(){
        $('.nav li').removeClass('active');
        $('.nav li a[href="/reg"]').parent().addClass('active');
    });
</script>

<form class="form-horizontal" method="post">
    <fieldset>
        <legend>用户注册</legend>
        <div class="form-group">
            <label for="username" class="control-label col-sm-2">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名" />
                <p class="help-block">你的账户名称,用于登录和显示.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-2">口令</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="password" name="password" placeholder="口令" />
            </div>
        </div>

        <div class="form-group">
            <label for="password-repeat" class="control-label col-sm-2">重复输入口令</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="password-repeat" name="password-repeat" placeholder="重复输入口令" />
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </div>
    </fieldset>
</form>

<% include footer.ejs %>
