<% include header.ejs %>

<div id="chart" style="width: 750px;height:450px;"></div>

<% include footer.ejs %>
<script type="text/javascript" src="/javascripts/echarts.min.js"></script>
<script type="text/javascript" src="/javascripts/report.js"></script>