<% include header.ejs %>

<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>adfadfadsf</p>
    </div>
</div>

<% include footer.ejs %>