body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blue{color:  #4b8df8;}
.lightblue{color:  #bfd5fa;}
.red{color:  #e02222;}
.yellow{color:  #ffb848;}
.green{color:  #35aa47;}
.purple{color:  #852b99;}
.dark{color:  #555555;}
.lightgrey{color:  #fafafa;}